<h1>Mallory Furniture</h1>
<!-- # <p><a href = "inventory/list"> Checkout our products </a></p> -->



<div class="widescreen">
  <div class="welcometextbox">
    <div class="yourfurn">
      <h3> Your Furniture is Old</h3>
    </div>
    <div class="ourfurn">
      <h2> Our's is Older</h2>
    </div>
    <div class="productbutton">
      <a href = "inventory/list"> Checkout our products </a>
    </div>
  </div>
<%= image_tag("hero.jpg", alt: "Welcome")%>
</div>
