// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: 'Shadows Into Light', cursive;
  width: 100%;
  height: 74px;
  position:relative;
  border: 1px solid #00331a;
  background-color: #BFCC7E;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 20px 0px 20px 0px;
  text-align: center;
}


p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 22px;
  font-weight: bold;
  color: #00331a;
  margin-top: 2px;
  margin-right: 2;
  margin-bottom: 2px;
  margin-left: 2px;
  width:auto;
  text-decoration: none;
}

.widescreen {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid #00331a;
  width: 100%;
  height: 525px;
  margin-top: 0px;
}

img {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}

.welcometextbox {
  display: flex;
  flex-direction: column;
  position:absolute;
  align-items: flex-end;
  border: 0px solid #00331a;
  width: 320px;
  height: 130px;
  margin-top: 0px;
  margin-left: 400px;
  right: 10px;
  top: 200px;
  z-index: 2;
}

.yourfurn {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}

h3 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  margin-top: 2px;
  color: white;
  padding: 0px 0px 0px 0px;
  }

  h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    margin-top: 2px;
    color: white;
    padding: 0px 0px 0px 0px;
    }

.ourfurn {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  font-weight: normal;
  color: #00331a;
  text-align: right;
}

.productbutton {
  position: relative;
  margin-right: 0px;
  align-items:flex-end;
  text-align: center;
  border: 1px solid gray;
  border-radius: 8px;
  width: 210px;
  height: 40px;
  padding: 8px 6px 6px 6px;
  background-color: #3399ff;
}

.productbutton a {
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: #ffffff;
text-decoration: none;
  }
